// ============================================================
//                             SETUP
// ============================================================

    
*, *::after 
    box-sizing: border-box
    padding: 0
    margin: 0
    font-family: 'Futura', sans-serif
    font-weight: 300
    transition: color 0.08s ease

body 
    background-color: rgb(255, 255, 255)

.site
    min-height: 100vh
    padding: 2rem 2rem

    &-container
        position: relative

.main-header, .main-subheader, .main-nav__list 
    text-transform: uppercase
    text-align: center
    transition: color 0.3s ease

li
    list-style-type: none

.main-nav__item, .social-links__item 
    margin: 0 0.8rem
    display: inline-block

.mb-one
    margin-bottom: 0.6rem

.recipe-inset
    margin-left: 0.4rem
    display: block

@media screen and (min-width: 900px)
    .site
        padding: 4.7rem 4.7rem


    li, .social-links__item 
        display: inline-block
        list-style-type: none
        margin: 0 0.8rem

    .mb-one
        margin-bottom: 1rem

    .recipe-inset
        margin-left: 0.8rem

// ========================================================
//                         HEADER
// ======================================================== 

.line 
    height: 0.3rem
    color: black
    background-color: black
    outline: none
    border: none
    margin-bottom: 1.2rem


.main-header 
    font-size: 4.5rem
    letter-spacing: 0.5rem
    line-height: 1.15
    display: inline-block
    margin: 0 auto
    margin-bottom: 0.5rem
    color: black


.main-link 
    display: flex
    width: 100%

@media screen and (min-width: 900px)
    .line 
        height: 0.3rem
        margin-bottom: 2rem

    .main-header 
        font-size: 3.5rem
        line-height: normal
        letter-spacing: 0.7rem
        margin-bottom: 0.5rem

// ========================================================
//                          NAV
// ======================================================== 

.main-nav 
    margin-bottom: 1.8rem

    &__list 
        margin: 1.2rem 0 1.4rem


    &__link 
        color: black
        font-size: 1.3rem
        font-weight: 600
        letter-spacing: 0.1rem
        position: relative
        transition: all 0.5s ease
        

        &--active 
            color: grey

        &::after 
            content: ''
            position: absolute
            display: block
            width: 100%
            bottom: 0
            height: 0.2rem
            background-color: currentColor
            transform: scaleX(0)
            transition: all 0.5s ease

        &:hover::after 
            transform: scaleX(1)
            


.main-nav__link, .main-link 
    text-decoration: none

.main-nav__link:hover, .main-header:hover 
    color: grey

@media screen and (min-width: 600px)
    .main-nav 

        &__list 
            margin: 1.5rem auto 2.2rem
            width: 33rem


        &__link 
            font-size: 1.3rem
            font-weight: 600
            letter-spacing: 0.1rem
            position: relative

            &::after 
                bottom: -0.1rem

@media screen and (min-width: 930px)
    .main-nav 
        margin-bottom: 2.5rem

        &__list 
            margin: 1.5rem 0 2.2rem
            width: 100%


        &__link 
            font-size: 1.3rem
            font-weight: 600
            letter-spacing: 0.1rem
            position: relative

            &::after 
                bottom: -0.17rem

// ========================================================
//                         GALLERY
// ======================================================== 

.grid 
    position: relative
    margin: 0 auto


    &-item 
        position: relative
        width: 97%
        height: 97%
        margin: 0 auto


.image 
    width: 100%
    height: auto
    margin-bottom: 0.2rem
    z-index: 1


    &-fadeaway 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 2
        transition: background 1s ease-in

@media screen and (min-width: 900px)        
    .grid 
        position: relative
        margin: 0 auto


        &-item 
            position: relative
            width: 97%
            height: 97%
            margin: 0 auto


    .image 
        width: 100%
        height: auto
        margin-bottom: 0.6rem
        z-index: 1


        &-fadeaway 
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            z-index: 2
            transition: background 1s ease-in


// ========================================================
//                         ABOUT
// ======================================================== 

.about 
    width: 97%
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 0 auto 4rem
    color: black


    &__content 
        text-align: center
        flex: 1 1 auto
        display: block
        color: black
        padding: 0
        width: 100%

    &__heading
        font-size: 1.3rem

    &__sub-heading
        font-size: 1.1rem
        margin-bottom: 1rem

    &__text 
        width: 100%
        font-size: 1rem
        font-weight: 300
        text-transform: none
        margin-bottom: 1rem
    
        &--black 
            color: black

@media screen and (min-width: 900px)
    .about 
        width: 80%
        display: flex
        flex-direction: row
        justify-content: space-between
        margin: 4rem auto 4rem

        &__content 
            flex: 0 1 auto
            display: inline-block
            padding: 0
            width: 47%


        &__text 
            width: 100%
            font-size: 1rem
            font-weight: 300
            text-transform: none
            text-align: left


            &--black 
                color: black

@media screen and (min-width: 1200px)
    .about 
        width: 65%
        display: flex
        flex-direction: row
        justify-content: space-between
        margin: 4rem auto 4rem


        &__content 
            flex: 0 1 auto
            display: inline-block
            padding: 0
            width: 47%


        &__text 
            width: 100%
            font-size: 1rem
            font-weight: 300
            text-transform: none
            text-align: left


            &--black 
                color: black

// ========================================================
//                         MOTION
// ======================================================== 


.motion 
    width: 97%
    margin: 0 auto
    

    &-video 
        width: 100%

@media screen and (min-width: 900px)
    .motion 
        width: 80%
        margin: 0 auto
        

        &-video 
            width: 100%


// ========================================================
//                         IN THE KITCHEN
// ========================================================



.kitchen-menu
    width: 30%

.kitchen-list
    position: fixed
    overflow: scroll

    &-item
        display: block
        margin-bottom: 0.8rem

.recipe     
    width: 97%
    margin: 0 auto

    &-time__item
        display: block
        margin: 0

    &-body
        display: flex

    
    &-headings 
        text-align: center


    &-item__ingredient 
        display: block
        padding: 0
        margin: 0


    &-figure
        display: flex
        justify-content: center
        margin: 0 auto 2rem


        &__image
            width: 100%
            height: 100%
            margin: 0 auto


    &-serves 
        margin: 1rem 0 2rem


    &-ingredients
        margin: 2rem 0 1rem


        &__main


        &__list


        &__ingredient
            display: block

    &-method

        &__list
            counter-reset: method-counter


            &-item
                margin: 0.6rem 0 0 3rem
                position: relative
                display: block


                &::before 
                    display: flex
                    justify-content: flex-end
                    align-items: flex-end
                    counter-increment: method-counter
                    content: counter(method-counter) '.'
                    width: 1rem
                    height: auto
                    position: absolute
                    left: -2rem


.to-serve
    margin-bottom: 3rem


.kitchen-nav
    

    &-list
        width: 100%
        margin: 0 auto
        display: flex
        justify-content: center
        align-items: center 
        

    &__list-item
        width: 32%
        margin: 0
        text-align: center

    &__link
        text-decoration: none
        width: 100%
        font-size: 0.8rem
        color: black
        display: flex
        justify-content: space-evenly
        align-items: center

    &__text
        display: none
    
    &__arrow
        font-size: 2rem

@media screen and (min-width: 808px)
    .recipe 
        width: 45rem
        margin: 0 auto 6rem

        &-ingredients__list


    .kitchen-nav__list-item--main
        border-left: 0.2rem solid black
        border-right: 0.2rem solid black

    .kitchen-nav__text
        display: block
        width: 60%

    .kitchen-nav__arrow
        font-size: inherit

@media screen and (min-width: 900px)
    .recipe 
        
        &-extras__ingredient
            margin-left: 1rem

        &-method
            margin-bottom: 3rem

    .kitchen-nav-list
        width: 70%
        
        
// ========================================================
//                         CONTACT
// ========================================================

.contact 
    width: 97%
    margin: 0 auto 5rem

    &-intro
        width: 100%
        flex: 0 1 auto

        &__header 
            font-size: 1.65rem
            margin-bottom: 1.1rem

        &__text 
            width: 96%
            font-size: 0.9rem
            line-height: 1.6rem
            margin-bottom: 1rem

            &-item
                display: block
                width: 100%

.form
    width: 100%
    

    &-item
        position: relative

        &__name, &__email, &__subject, &__message
            display: block
            width: 100%
            margin-bottom: 1.8rem
            margin-top: 0.6rem
            height: 2rem
            background-color: rgb(245, 245, 245)
            border: none
            box-shadow: 0 0 0 0.01rem  rgb(116, 116, 116)
            padding-left: 0.5rem

        &__message
            height: 10rem
            resize: none
            overflow: auto
            border-radius: none
            padding: 0.3rem 0.5rem

        &__label
            margin: 2rem 0 0.6rem

        &__submit
            padding: 0.4rem 0.8rem
            cursor: pointer
            position: relative
            background: white
            border-radius: 0.3rem
            transition: all 0.3s ease

            &:hover
                background-color: black
                color: white
            
    
.validEmail
    position: absolute
    margin-left: 0.3rem
    font-size: 0.8rem
    bottom: -1.3rem
        

@media screen and (min-width: 900px)
    .contact 
        width: 80%
        margin: 3rem auto 5rem
        display: flex
        justify-content: space-evenly

        &-intro
            width: 65%
            flex: 0 1 auto

            &__header 
                font-size: 1.65rem
                margin-bottom: 1.8rem


            &__text 
                width: 96%
                font-size: 0.9rem
                line-height: 1.6rem
                margin-bottom: 1.5rem
                
                &-item
                    margin-bottom: 1rem

    .form
        width: 100%
        

        &-item
            position: relative

            &__name, &__email, &__subject, &__message
                display: block
                width: 100%
                margin-bottom: 1.8rem
                margin-top: 0.6rem
                height: 2rem
                background-color: rgb(245, 245, 245)
                border: none
                box-shadow: 0 0 0 0.01rem  rgb(116, 116, 116)
                padding-left: 0.5rem

            &__message
                height: 10rem
                resize: none
                overflow: auto
                border-radius: none
                padding: 0.3rem 0.5rem

            &__label
                margin: 2rem 0 0.6rem

            &__submit
                padding: 0.4rem 0.8rem
                cursor: pointer
                position: relative
                background: white
                border-radius: 0.3rem
                transition: all 0.3s ease

                &:hover
                    background-color: black
                    color: white
                
        
    .validEmail
        position: absolute
        margin-left: 0.3rem
        font-size: 0.8rem
        bottom: -1.3rem


// ========================================================
//                         FOOTER
// ========================================================


.social-links
    list-style-type: none
    text-align: center
    margin: 4.1rem 0 0
    padding: 0
        

    &__item 
        display: inline-block
        width: 1.4rem
        height: 1.4rem
        margin: 0 0.16rem
        padding: 0
    

    &__link 
        position: relative
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%

        &::before 
            content: ""
            position: absolute
            width: 100%
            height: 100%
            background-color: gray
            border-radius: 50%
            box-shadow: inset -2px -2px 2px rgba(27, 27, 27, 0.4)
            transition: background-color 0.4s ease-out
            
        &:hover::before 
            background-color: rgb(27, 27, 27)

        &::after 
            content: ""
            position: absolute
            width: 100%
            height: 100%
            background-color: rgba(255, 255, 255, 0)
            border-radius: 50%
            transition: background-color 0.4s ease-out
            z-index: 2
                
    &__icon 
        color: rgb(248, 250, 239)
        font-size: 0.5rem
        margin-bottom: 0.1rem
        z-index: 3

    &__list:hover .social-links__link::after 
        background-color: rgba(255, 255, 255, 0.445)

.acknowledgement 
    text-align: center
    width: 90%
    margin: 0 auto
    font-size: 0.8rem
    margin-top: 1.2rem 

@media screen and (min-width: 900px)

    .acknowledgement 
        text-align: center
        width: 45%
        margin: 0 auto
        font-size: 0.8rem
        margin-top: 2rem 
