*, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Futura', sans-serif;
  font-weight: 300;
  -webkit-transition: color 0.08s ease;
  transition: color 0.08s ease;
}

body {
  background-color: white;
}

.site {
  min-height: 100vh;
  padding: 2rem 2rem;
}

.site-container {
  position: relative;
}

.main-header, .main-subheader, .main-nav__list {
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

li {
  list-style-type: none;
}

.main-nav__item, .social-links__item {
  margin: 0 0.8rem;
  display: inline-block;
}

.mb-one {
  margin-bottom: 0.6rem;
}

.recipe-inset {
  margin-left: 0.4rem;
  display: block;
}

@media screen and (min-width: 900px) {
  .site {
    padding: 4.7rem 4.7rem;
  }
  li, .social-links__item {
    display: inline-block;
    list-style-type: none;
    margin: 0 0.8rem;
  }
  .mb-one {
    margin-bottom: 1rem;
  }
  .recipe-inset {
    margin-left: 0.8rem;
  }
}

.line {
  height: 0.3rem;
  color: black;
  background-color: black;
  outline: none;
  border: none;
  margin-bottom: 1.2rem;
}

.main-header {
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  line-height: 1.15;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  color: black;
}

.main-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .line {
    height: 0.3rem;
    margin-bottom: 2rem;
  }
  .main-header {
    font-size: 3.5rem;
    line-height: normal;
    letter-spacing: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

.main-nav {
  margin-bottom: 1.8rem;
}

.main-nav__list {
  margin: 1.2rem 0 1.4rem;
}

.main-nav__link {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-nav__link--active {
  color: grey;
}

.main-nav__link::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  height: 0.2rem;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-nav__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main-nav__link, .main-link {
  text-decoration: none;
}

.main-nav__link:hover, .main-header:hover {
  color: grey;
}

@media screen and (min-width: 600px) {
  .main-nav__list {
    margin: 1.5rem auto 2.2rem;
    width: 33rem;
  }
  .main-nav__link {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    position: relative;
  }
  .main-nav__link::after {
    bottom: -0.1rem;
  }
}

@media screen and (min-width: 930px) {
  .main-nav {
    margin-bottom: 2.5rem;
  }
  .main-nav__list {
    margin: 1.5rem 0 2.2rem;
    width: 100%;
  }
  .main-nav__link {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    position: relative;
  }
  .main-nav__link::after {
    bottom: -0.17rem;
  }
}

.grid {
  position: relative;
  margin: 0 auto;
}

.grid-item {
  position: relative;
  width: 97%;
  height: 97%;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 0.2rem;
  z-index: 1;
}

.image-fadeaway {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transition: background 1s ease-in;
  transition: background 1s ease-in;
}

@media screen and (min-width: 900px) {
  .grid {
    position: relative;
    margin: 0 auto;
  }
  .grid-item {
    position: relative;
    width: 97%;
    height: 97%;
    margin: 0 auto;
  }
  .image {
    width: 100%;
    height: auto;
    margin-bottom: 0.6rem;
    z-index: 1;
  }
  .image-fadeaway {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    -webkit-transition: background 1s ease-in;
    transition: background 1s ease-in;
  }
}

.about {
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 4rem;
  color: black;
}

.about__content {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: block;
  color: black;
  padding: 0;
  width: 100%;
}

.about__heading {
  font-size: 1.3rem;
}

.about__sub-heading {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.about__text {
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  text-transform: none;
  margin-bottom: 1rem;
}

.about__text--black {
  color: black;
}

@media screen and (min-width: 900px) {
  .about {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4rem auto 4rem;
  }
  .about__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: inline-block;
    padding: 0;
    width: 47%;
  }
  .about__text {
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    text-transform: none;
    text-align: left;
  }
  .about__text--black {
    color: black;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4rem auto 4rem;
  }
  .about__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: inline-block;
    padding: 0;
    width: 47%;
  }
  .about__text {
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    text-transform: none;
    text-align: left;
  }
  .about__text--black {
    color: black;
  }
}

.motion {
  width: 97%;
  margin: 0 auto;
}

.motion-video {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .motion {
    width: 80%;
    margin: 0 auto;
  }
  .motion-video {
    width: 100%;
  }
}

.kitchen-menu {
  width: 30%;
}

.kitchen-list {
  position: fixed;
  overflow: scroll;
}

.kitchen-list-item {
  display: block;
  margin-bottom: 0.8rem;
}

.recipe {
  width: 97%;
  margin: 0 auto;
}

.recipe-time__item {
  display: block;
  margin: 0;
}

.recipe-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipe-headings {
  text-align: center;
}

.recipe-item__ingredient {
  display: block;
  padding: 0;
  margin: 0;
}

.recipe-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 2rem;
}

.recipe-figure__image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.recipe-serves {
  margin: 1rem 0 2rem;
}

.recipe-ingredients {
  margin: 2rem 0 1rem;
}

.recipe-ingredients__ingredient {
  display: block;
}

.recipe-method__list {
  counter-reset: method-counter;
}

.recipe-method__list-item {
  margin: 0.6rem 0 0 3rem;
  position: relative;
  display: block;
}

.recipe-method__list-item::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  counter-increment: method-counter;
  content: counter(method-counter) ".";
  width: 1rem;
  height: auto;
  position: absolute;
  left: -2rem;
}

.to-serve {
  margin-bottom: 3rem;
}

.kitchen-nav-list {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kitchen-nav__list-item {
  width: 32%;
  margin: 0;
  text-align: center;
}

.kitchen-nav__link {
  text-decoration: none;
  width: 100%;
  font-size: 0.8rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kitchen-nav__text {
  display: none;
}

.kitchen-nav__arrow {
  font-size: 2rem;
}

@media screen and (min-width: 808px) {
  .recipe {
    width: 45rem;
    margin: 0 auto 6rem;
  }
  .kitchen-nav__list-item--main {
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
  }
  .kitchen-nav__text {
    display: block;
    width: 60%;
  }
  .kitchen-nav__arrow {
    font-size: inherit;
  }
}

@media screen and (min-width: 900px) {
  .recipe-extras__ingredient {
    margin-left: 1rem;
  }
  .recipe-method {
    margin-bottom: 3rem;
  }
  .kitchen-nav-list {
    width: 70%;
  }
}

.contact {
  width: 97%;
  margin: 0 auto 5rem;
}

.contact-intro {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.contact-intro__header {
  font-size: 1.65rem;
  margin-bottom: 1.1rem;
}

.contact-intro__text {
  width: 96%;
  font-size: 0.9rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

.contact-intro__text-item {
  display: block;
  width: 100%;
}

.form {
  width: 100%;
}

.form-item {
  position: relative;
}

.form-item__name, .form-item__email, .form-item__subject, .form-item__message {
  display: block;
  width: 100%;
  margin-bottom: 1.8rem;
  margin-top: 0.6rem;
  height: 2rem;
  background-color: whitesmoke;
  border: none;
  -webkit-box-shadow: 0 0 0 0.01rem #747474;
          box-shadow: 0 0 0 0.01rem #747474;
  padding-left: 0.5rem;
}

.form-item__message {
  height: 10rem;
  resize: none;
  overflow: auto;
  border-radius: none;
  padding: 0.3rem 0.5rem;
}

.form-item__label {
  margin: 2rem 0 0.6rem;
}

.form-item__submit {
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  position: relative;
  background: white;
  border-radius: 0.3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-item__submit:hover {
  background-color: black;
  color: white;
}

.validEmail {
  position: absolute;
  margin-left: 0.3rem;
  font-size: 0.8rem;
  bottom: -1.3rem;
}

@media screen and (min-width: 900px) {
  .contact {
    width: 80%;
    margin: 3rem auto 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact-intro {
    width: 65%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .contact-intro__header {
    font-size: 1.65rem;
    margin-bottom: 1.8rem;
  }
  .contact-intro__text {
    width: 96%;
    font-size: 0.9rem;
    line-height: 1.6rem;
    margin-bottom: 1.5rem;
  }
  .contact-intro__text-item {
    margin-bottom: 1rem;
  }
  .form {
    width: 100%;
  }
  .form-item {
    position: relative;
  }
  .form-item__name, .form-item__email, .form-item__subject, .form-item__message {
    display: block;
    width: 100%;
    margin-bottom: 1.8rem;
    margin-top: 0.6rem;
    height: 2rem;
    background-color: whitesmoke;
    border: none;
    -webkit-box-shadow: 0 0 0 0.01rem #747474;
            box-shadow: 0 0 0 0.01rem #747474;
    padding-left: 0.5rem;
  }
  .form-item__message {
    height: 10rem;
    resize: none;
    overflow: auto;
    border-radius: none;
    padding: 0.3rem 0.5rem;
  }
  .form-item__label {
    margin: 2rem 0 0.6rem;
  }
  .form-item__submit {
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    position: relative;
    background: white;
    border-radius: 0.3rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .form-item__submit:hover {
    background-color: black;
    color: white;
  }
  .validEmail {
    position: absolute;
    margin-left: 0.3rem;
    font-size: 0.8rem;
    bottom: -1.3rem;
  }
}

.social-links {
  list-style-type: none;
  text-align: center;
  margin: 4.1rem 0 0;
  padding: 0;
}

.social-links__item {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 0.16rem;
  padding: 0;
}

.social-links__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.social-links__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gray;
  border-radius: 50%;
  -webkit-box-shadow: inset -2px -2px 2px rgba(27, 27, 27, 0.4);
          box-shadow: inset -2px -2px 2px rgba(27, 27, 27, 0.4);
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.social-links__link:hover::before {
  background-color: #1b1b1b;
}

.social-links__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
  z-index: 2;
}

.social-links__icon {
  color: #f8faef;
  font-size: 0.5rem;
  margin-bottom: 0.1rem;
  z-index: 3;
}

.social-links__list:hover .social-links__link::after {
  background-color: rgba(255, 255, 255, 0.445);
}

.acknowledgement {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: 0.8rem;
  margin-top: 1.2rem;
}

@media screen and (min-width: 900px) {
  .acknowledgement {
    text-align: center;
    width: 45%;
    margin: 0 auto;
    font-size: 0.8rem;
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=Main.css.map */